* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}

/* Regla para todas las pantallas */
.screen {
    display: none; 
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    /* ESTO CENTRA TODO VERTICALMENTE */
    justify-content: center; 
    /* ESTO CENTRA TODO HORIZONTALMENTE */
    align-items: center;     
    padding: 30px;
    text-align: center;
}

.active {
    display: flex; 
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 40px;
    line-height: 1.4;
    font-size: 24px;
}

input {
    border: 2px solid #000;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    width: 90%;
    max-width: 300px;
    outline: none;
    font-family: inherit;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background: #000;
    color: #fff;
    border: none;
    padding: 18px 35px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 90%;
    max-width: 300px;
}

/* Ajuste específico SOLO para la pantalla final */
#pantalla-final {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('URL_DE_TU_IMAGEN_AQUI');
    
    /* Cambiamos el centrado vertical a "empujar al fondo" 
       para que el botón de pausa quede abajo y se vea la foto */
    justify-content: flex-end; 
    padding-bottom: 60px;
}

#btn-control-audio {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    font-size: 12px;
    width: auto;
    padding: 12px 25px;
}