* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}

/* Regla para todas las pantallas */
.screen {
    display: none; 
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    /* ESTO CENTRA TODO VERTICALMENTE */
    justify-content: center; 
    /* ESTO CENTRA TODO HORIZONTALMENTE */
    align-items: center;     
    padding: 30px;
    text-align: center;
}

.active {
    display: flex; 
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 40px;
    line-height: 1.4;
    font-size: 24px;
}

input {
    border: 2px solid #000;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    width: 90%;
    max-width: 300px;
    outline: none;
    font-family: inherit;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background: #000;
    color: #fff;
    border: none;
    padding: 18px 35px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 90%;
    max-width: 300px;
}


#pantalla-final {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('pet.png');
    
    /* Cambiamos a posición relativa para que el botón se ubique respecto a la pantalla */
    position: relative; 
    justify-content: flex-end; 
}

#btn-control-audio {
    background: rgba(0, 0, 0, 0.8); /* Un poco más oscuro para que resalte */
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    width: auto;
    padding: 15px 30px;
    
    /* Posicionamiento fijo para asegurar visibilidad */
    position: absolute;
    bottom: 40px; /* Separación del borde inferior */
    z-index: 999; /* Asegura que esté por encima de la imagen */
    
    /* Centrado horizontal manual ya que usamos absolute */
    left: 50%;
    transform: translateX(-50%);
    
    border-radius: 5px; /* Un poco de redondeado para que se note que es botón */
}